*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navv{
    width: 100%;
    margin: 0!important;
    height: 70px;
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
}
.navlef{
    width: 35%;
    height: 100%;
    color: white;
    align-content: center;
    padding-left: 20px;
    display: flex;
}
.mbar{
    display: none;
}
.navv input{
    display: none;
}
input:checked ~.navrigh{
    display: unset;
}
.navrigh{
    width: 65%;
    height: 100%;
    color: white;
    padding-right: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    font-size: 20px;
}
.navrigh a{
    border-bottom: 0px solid aqua;  
    transition: all;   
}
.navrigh a:hover{
    border-width: 4px;
}
.contactf{
    background-color: black!important;
    min-height: 125vh!important;
    width: 100%!important;
    padding-top: 80px!important;
}
textarea{
    width: 95%!important;
    height: 110px!important;
}
form{
    opacity: 0;
    animation-name: sa;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes sa {
    from{
        transform: scale(2);
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}
.touch{
    background-color: black!important;
    width: 100%;
    padding-left: 100px!important;
}
.touch p{
    color: grey;
}
.rocon{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cont{
    font-size: 20px;
    z-index: 30;
}
.cont i{
    color: green;
    height: 40px;
    width: 40px;
    font-size: 24px;
    background-color: rgb(56, 54, 54);
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin-left: 8px;
}
.cont i:hover{
    background-color: white;
    cursor: pointer;
}
.navv input{
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width:992px) and (max-width:1800px) {
    .getb{
        height: 40px!important;
    }
}

@media only screen and (min-width:920px) and (max-width:1060px) {
    .rowpad{
        margin-left: 250px;
    }
}

@media only screen and (min-width:600px) and (max-width:920px) {   
    .cont{
        height: 15%!important;       
    }
    .cont i{
        height: 60px;
        width: 60px;
        font-size: 40px!important;
    }
    .rowpad{
        margin-left: 30%;
    }
}

@media only screen and (min-width:600px) and (max-width:800px){
    .rowpad{
        margin-left: 100px;
    }
}

@media only screen and (max-width:600px){
    .navlef h3{
        font-size: 40px!important;
        padding-left: 0px!important;
    }
    .mbar{
        display: block;
    }
    .navv{
        flex-direction: column;
        
    }
    .navlef{
        width: 100%;
        padding-left: 30px!important;
        padding-top: 20px!important;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
    }
    .navlef i{
        font-size: 34px!important;
        margin-right: 30px!important;
    }
    .navrigh{
        background-color: rgb(1, 100, 1);
        display: flex;
        flex-direction: column;
        width: 25%;
        padding-top: 0px;
        padding: 30px;
        border-radius: 20px;
        height: 200px!important;
        align-items: start;
        justify-content: end !important;
        gap: 10px;
        position: absolute;
        right: -200px;
        top: 90px;
        opacity: 0;
        transition: 1s all;
    }
    input:checked~.navrigh{
        opacity: 1;
        right: 20px;
    }
    .contactf{
        padding-top: 120px!important;
    }
}